body {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
}

p {
  margin: 0;
}

.IDE {
  /* font-size: 1.25rem; */
  width: 55%;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ide-container {
  display: flex;
}

.opponent {
  filter: blur(2px);
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: white;
  font-style: oblique;
}

.navbar {
  background-color: #2e1114;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item p {
  color: #83677b;
}

.nav-item a {
  color: #64485c;
}

.dropdown {
  color: #83677b;
  font-size: 45px;
}

#leaderboard-header {
  color: white;
}

#left-panel {
  text-align: center;
}

#left-panel img {
  margin-top: 30px;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#leaderboard-container {
  border-style: solid;
  padding: 30px;
  border-radius: 25px;
  background-color: #83677b;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.leaderboard-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-style: solid;
  padding: 15px;
  border-color: #83677b;
  border-width: 5px;
  background-color: #64485c;
  border-radius: 25px;
}

.leaderboard-box p {
  color: white;
}

.leaderboard-box a {
  color: #d1d1d1;
}

#guest {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

<<<<<<< HEAD
.main-home {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.rooms-container > .room-item {
  flex: 1 1 30%;
}

.room-item {
  margin: 7px;
  text-align: center;
}

#create-button {
  background-color: #64485c;
  color: white;
  padding: 20px 80px 20px 80px;
  font-size: 30px;
  font-weight: 600;
  border-style: none;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#create-button:hover {
  background-color: #3a2a35;
}

/* IDE */
=======
#exercise-problem {
  margin: auto;
  padding: 20px 0px;
  height: 100px;
  width: 600px;
}

.IDE1 {
  margin-right: 100px;
}

.IDE2 {
  margin-left: 100px;
}
>>>>>>> f63f77547560001a30b8516ee5f0d99131d41fcf

/* IDE */
#Run {
  margin-top: 1.65em;
}

/* login and signup forms */
#login {
  height: 320px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  margin: auto;
  margin-top: 100px;
  background-color: #83677B;
  border-radius: 15px;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 320px;
  height: 400px;
  background-color: #83677B;
  border-radius: 15px;
}

#login h2, #signup h2 {
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}

#login-form {
  display:flex;
  flex-direction: column;
}

#login p, #signup p {
  font-weight: bolder;
  margin: 0px;
  color: white;
}

#login input, #signup input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#login button, #signup button {
  width: 205px;
  height: 30px;
  border-radius: 8px;
  margin-top: 30px;
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

#login button:active, #signup button:active {
  background: #ADADAD;
  -webkit-box-shadow: inset 0px 0px 5px #5d5c61;
     -moz-box-shadow: inset 0px 0px 5px #5d5c61;
          box-shadow: inset 0px 0px 5px #5d5c61;
  outline: none;
}

.nav-item a {
  text-decoration: none;
}
