
.IDE {
  /* font-size: 1.25rem; */
  width: 75%;
  padding: 10px;
}

.Game{
  display: flex;
  justify-content: space-around;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #e5e6e4;
  }
