html {
  zoom: 145%;
}

body {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
}

p {
  margin: 0;
}

.opponent {
  filter: blur(3px);
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: white;
  font-style: oblique;
}

.navbar {
  background-color: #2e1114;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item p {
  font-weight: 500;
  color: #83677b;
}

.nav-item a {
  color: #64485c;
}

.dropdown {
  color: #83677b;
  font-size: 45px;
}

#leaderboard-header {
  color: white;
}

#left-panel {
  text-align: center;
}

#left-panel img {
  margin-top: 30px;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#leaderboard-container {
  border-style: solid;
  padding: 30px;
  border-radius: 25px;
  background-color: #83677b;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.leaderboard-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-style: solid;
  padding: 15px;
  border-color: #83677b;
  border-width: 5px;
  background-color: #64485c;
  border-radius: 25px;
}

.leaderboard-box p {
  color: white;
  font-weight: 500;
}

.leaderboard-box a {
  color: #d1d1d1;
}

#guest {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

.main-home {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.rooms-container > .room-item {
  flex: 1 1 30%;
}

.room-item {
  margin: 7px;
  text-align: center;
}

#create-button {
  background-color: #64485c;
  color: white;
  padding: 20px 80px 20px 80px;
  font-size: 30px;
  font-weight: 600;
  border-style: none;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#create-button:hover {
  background-color: #3a2a35;
}

.room-button {
  color: white;
  border-style: none;
  background-color: #83677b;
  padding: 15px;
  border-radius: 15px;
}

.room-button:hover {
  background-color: #6d5666;
}

#userprofile {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  text-align: center;
  width: 550px;
  margin-right: auto;
  padding: 20px;
  border-radius: 15px;
  border-width: 3px;
  border-style: dotted;
}

#userprofile div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header {
  margin-top: 20px;
  text-align: center;
}

/* IDE */

#exercise-problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: dashed;
  padding: 20px;
  border-radius: 15px;
  border-width: 5px;
}

#exercise-problem > p {
  width: 500px;
}

#ide-container {
  display: flex;
  justify-content: space-evenly;
}

#ide-container .IDE {
  width: 400px;
}

.CodeMirror,
.cm-s-material,
.CodeMirror-wrap {
  border-radius: 15px;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.user-info small {
  font-size: 15px;
  font-weight: 600;
}

.ide-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.ide-buttons button {
  padding: 15px 45px 15px 45px;
  font-weight: 500;
}

#start-match {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#start-match button {
  padding: 20px 130px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  border-style: none;
  background-color: #2e1114;
  color: white;
}

#start-match button:hover {
  background-color: #3a2a35;
}

#test {
  background-color: black;
  font-family: monospace;
  color: greenyellow;
  border-radius: 15px;
  padding: 15px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

#test-header {
  text-align: center;
}

/* login and signup forms */
#login {
  height: 320px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  margin: auto;
  margin-top: 100px;
  background-color: #83677b;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 320px;
  height: 400px;
  background-color: #83677b;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#login h2,
#signup h2 {
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login p,
#signup p {
  font-weight: bolder;
  margin: 0px;
  color: white;
}

#login input,
#signup input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#login button,
#signup button {
  width: 205px;
  height: 30px;
  border-radius: 8px;
  margin-top: 30px;
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

#login button:active,
#signup button:active {
  background: #adadad;
  -webkit-box-shadow: inset 0px 0px 5px #5d5c61;
  -moz-box-shadow: inset 0px 0px 5px #5d5c61;
  box-shadow: inset 0px 0px 5px #5d5c61;
  outline: none;
}

.nav-item a {
  text-decoration: none;
}

#score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  background-color: #83677b
}

#score-container p, #score-container h2{
  color: white;
}

#score-container img {
  height: 150px;
  width: 150px;
  margin: auto;
}
